In [1]:
d1={"name":"vedha","age":0.9}
print(d1)

{'name': 'vedha', 'age': 0.9}

In [2]:
d1={"name":"vedha","age":0.9}
print(d1[0])

KeyError: 0

In [3]:
d1={"name":"vedha","age":0.9}
print(d1["name"])

vedha

In [4]:
d1={"name":"vedha","age":0.9}
print(d1.get("name"))

vedha

In [5]:
d1={"name":"vedha","age":0.9}
print(d1.get("id"))

None

In [6]:
d1={"name":"vedha","age":0.9}
print(d1.get("id","234"))

234

In [7]:
d1={"name":"vedha","age":0.9}
d1["id"]=123
print(d1)

{'name': 'vedha', 'age': 0.9, 'id': 123}

In [8]:
d1={"name":"vedha","age":0.9}
d1["name"]=123
print(d1)

{'name': 123, 'age': 0.9}

In [9]:
d1={"name":"vedha","age":0.9}
address={"street":"anjaneyanager","city":"hyderabad"}
d1.update(address)
print(d1)

{'name': 'vedha', 'age': 0.9, 'street': 'anjaneyanager', 'city': 'hyderabad'}

In [10]:
d1={"name":"vedha","age":0.9}
address={"street":"anjaneyanager","city":"hyderabad"}
d1.update({"pan":"bdfgfg233254"})
print(d1)

{'name': 'vedha', 'age': 0.9, 'pan': 'bdfgfg233254'}

In [11]:
d1={"name":"vedha","age":0.9}
d1.update({"name":"vedhanvesh"})
print(d1)

{'name': 'vedhanvesh', 'age': 0.9}

In [12]:
d1={"name":"vedha","age":0.9}
d1.setdefault("id",123)
print(d1)

{'name': 'vedha', 'age': 0.9, 'id': 123}

In [13]:
d1={"name":"vedha","age":0.9}
d1.setdefault("name",123)
print(d1)

{'name': 'vedha', 'age': 0.9}

In [14]:
d1={"name":"vedha","age":0.9}
d1.update({"name":"vedhanvesh","id":123})
print(d1)

{'name': 'vedhanvesh', 'age': 0.9, 'id': 123}

In [15]:
d1={"name":"vedha","age":0.9}
d1.setdefault("id",123)
print(d1)

{'name': 'vedha', 'age': 0.9, 'id': 123}

In [16]:
d1={"name":"vedha","age":0.9}
d1.setdefault("name",123)
print(d1)

{'name': 'vedha', 'age': 0.9}

In [17]:
d1={"name":"vedha","age":0.9}
d2=d1
d3=d1.copy()
d1.clear()
print(d1)
print(d2)
print(d3)

{}
{}
{'name': 'vedha', 'age': 0.9}

In [18]:
d1={"name":"vedha","age":0.9}
for i in d1:
    print(i)

name
age

In [19]:
d1={"name":"vedha","age":0.9}
for i in d1.values():
    print(i)

vedha
0.9

In [20]:
d1={"name":"vedha","age":0.9}
for i in d1.keys():
    print(i)

name
age

In [21]:
d1={"name":"vedha","age":0.9}
for i in d1.items():
    print(i)

('name', 'vedha')
('age', 0.9)

In [22]:
d1={"name":"vedha","age":0.9}
print(d1.keys())
print(d1.values())
print(d1.items())

dict_keys(['name', 'age'])
dict_values(['vedha', 0.9])
dict_items([('name', 'vedha'), ('age', 0.9)])

In [23]:
d1={'name': 'vedha', 'age': 0.9, 'street': 'anjaneyanager', 'city': 'hyderabad'}
d1.pop()

TypeError: pop expected at least 1 arguments, got 0

In [24]:
d1={'name': 'vedha', 'age': 0.9, 'street': 'anjaneyanager', 'city': 'hyderabad'}
d1.pop("street")
print(d1)

{'name': 'vedha', 'age': 0.9, 'city': 'hyderabad'}

In [25]:
d1={'name': 'vedha', 'age': 0.9, 'street': 'anjaneyanager', 'city': 'hyderabad'}
d1.popitem()
print(d1)

{'name': 'vedha', 'age': 0.9, 'street': 'anjaneyanager'}

In [26]:
d1={'name': 'vedha', 'age': 0.9, 'street': 'anjaneyanager', 'city': 'hyderabad'}
d1.pop("pan")
print(d1)

KeyError: 'pan'

In [27]:
d1={'name': 'vedha', 'age': 0.9, 'street': 'anjaneyanager', 'city': 'hyderabad'}
d1.pop("pan",234)
print(d1)

{'name': 'vedha', 'age': 0.9, 'street': 'anjaneyanager', 'city': 'hyderabad'}

In [28]:
d1={'name': 'vedha', 'age': 0.9, 'street': 'anjaneyanager', 'city': 'hyderabad'}
removed_value = d1.pop("pan",234)
print(removed_value)
print(d1)

234
{'name': 'vedha', 'age': 0.9, 'street': 'anjaneyanager', 'city': 'hyderabad'}

In [29]:
d1={'name': 'vedha', 'age': 0.9, 'street': 'anjaneyanager', 'city': 'hyderabad'}
removed_value = d1.pop("age",234)
print(removed_value)
print(d1)

0.9
{'name': 'vedha', 'street': 'anjaneyanager', 'city': 'hyderabad'}

In [30]:
d1={'name': 'vedha', 'age': 0.9, 'street': 'anjaneyanager', 'city': 'hyderabad'}
"age" in d1

True

In [31]:
d1={'name': 'vedha', 'age': 0.9, 'street': 'anjaneyanager', 'city': 'hyderabad'}
"vedha" in d1

False

In [32]:
d1={'name': 'vedha', 'age': 0.9, 'street': 'anjaneyanager', 'city': 'hyderabad'}
"vedha" in d1.values()

True

In [33]:
d1={1:"int",1.2:"float","str":"string",(10,20,3):"tuple",True:"bool",None:"none"}

In [34]:
d1={1:"int",1.2:"float","str":"string",(10,20,3):"tuple",True:"bool",None:"none",[10,20]:"list"}

TypeError: unhashable type: 'list'

In [35]:
d1={1:"int",1.2:"float","str":"string",(10,20,3):"tuple",True:"bool",None:"none",{10,20}:"list"}

TypeError: unhashable type: 'set'

In [36]:
d={"list":[10,20,30,4],"set":{1,2,3,4}}
print(d)

{'list': [10, 20, 30, 4], 'set': {1, 2, 3, 4}}

In [37]:
d={"name":"vedha","age":2.4,"name":"vedhanvesh"}
print(d)

{'name': 'vedhanvesh', 'age': 2.4}

In [38]:
d={"name":"vedha","age":2.4,"name":"vedhanvesh","name":"jayaram"}
print(d)

{'name': 'jayaram', 'age': 2.4}

In [39]:
keys={"k1","k2","k3","k4"}
dict.fromkeys(keys,"12")

{'k1': '12', 'k3': '12', 'k4': '12', 'k2': '12'}

In [40]:
keys=["k1","k2","k3","k4"]
dict.fromkeys(keys,"12")

{'k1': '12', 'k2': '12', 'k3': '12', 'k4': '12'}

In [41]:
keys=("k1","k2","k3","k4")
dict.fromkeys(keys,"12")

{'k1': '12', 'k2': '12', 'k3': '12', 'k4': '12'}

In [42]:
keys="abcd"
dict.fromkeys(keys,"12")

{'a': '12', 'b': '12', 'c': '12', 'd': '12'}