In [1]:
f=open("data.txt","w")

In [2]:
f.write("Hello notepad, how are you?")

27

In [3]:
f.close()

In [4]:
f.write("some datat")

ValueError: I/O operation on closed file.

In [5]:
f=open("data.txt","w")

In [6]:
f.write("Hello notepad, how are you?")

27

In [7]:
f.flush()

In [8]:
f.write("some data")

9

In [9]:
f.close()

In [10]:
f=open("data.txt","a")
f.write("\n this is appending after open a file in append mode")
f.close()

In [12]:
# name,age,sal
name=input("enter name:")
age=input("enter age:")
sal=input("Enter sal:")
row="%s,%s,%s\n"%(name,age,sal)
f=open("emp.txt","a")
f.write(row)
f.close()

enter name:jay
enter age:23
Enter sal:432543

In [13]:
# name,age,sal
name=input("enter name:")
age=input("enter age:")
sal=input("Enter sal:")
row="%s,%s,%s\n"%(name,age,sal)
f=open("emp.txt","a")
f.write(row)
f.close()

enter name:vedha
enter age:23
Enter sal:5346

In [14]:
# name,age,sal
name=input("enter name:")
age=input("enter age:")
sal=input("Enter sal:")
row="%s,%s,%s\n"%(name,age,sal)
f=open("emp.txt","a")
f.write(row)
f.close()

enter name:sai
enter age:23
Enter sal:456

In [15]:
f=open("emp.txt","r")
data=f.read()
print(data)

jay,23,432543
vedha,23,5346
sai,23,456

In [18]:
f=open("emp.txt","r")
data=f.read(10)
data1=f.read(10)
print(data)
print(data1)

jay,23,432
543
vedha,

In [19]:
f=open("emp.txt","r")

In [20]:
f.read(10)

'jay,23,432'

In [21]:
f.read(10)

'543\nvedha,'

In [22]:
f.read(10)

'23,5346\nsa'

In [23]:
f.read(10)

'i,23,456\n'

In [24]:
f.read(10)

''

In [25]:
f=open("emp.txt","r")

In [26]:
f.readline()

'jay,23,432543\n'

In [27]:
f.readline()

'vedha,23,5346\n'

In [28]:
f.readline()

'sai,23,456\n'

In [29]:
f.readline()

''

In [30]:
f=open("emp.txt","r")
f.readlines()

['jay,23,432543\n', 'vedha,23,5346\n', 'sai,23,456\n']

In [31]:
f=open("emp.txt","r")
for row in f:
    print (row)

jay,23,432543

vedha,23,5346

sai,23,456

In [32]:
f=open("emp.txt","r")
for row in f:
    print (row.split(','))

['jay', '23', '432543\n']
['vedha', '23', '5346\n']
['sai', '23', '456\n']

In [33]:
f=open("emp.txt","r")
for row in f:
    print (row.split(',')[0])

jay
vedha
sai

In [34]:
f=open("emp.txt","r")
for row in f:
    print (row.split(',')[-1])

432543

5346

456

In [35]:
f=open("emp.txt","r")
for row in f:
    print (row.split(',')[-1].strip())

432543
5346
456

In [37]:
f=open("emp.txt","r")
salaries=[]
for row in f:
    salaries.append(row.split(',')[-1].strip())
print (salaries)

['432543', '5346', '456']

In [38]:
f=open("emp.txt","r")
salaries=[]
for row in f:
    salaries.append(int(row.split(',')[-1].strip()))
print (salaries)

[432543, 5346, 456]

In [39]:
f=open("emp.txt","r")
salaries=[]
for row in f:
    sal= row.split(',')[-1]
    sal_without_sace_cahar = sal.strip()
    sal_int=int(sal_without_sace_cahar)
    salaries.append(sal_int)
print (salaries)

[432543, 5346, 456]

In [41]:
f=open("emp.txt","r")
salaries=[]
for row in f:
    sal= row.split(',')[-1]
    sal_without_sace_cahar = sal.strip()
    sal_int=int(sal_without_sace_cahar)
    salaries.append(sal_int)
print (sum(salaries)/len(salaries))

146115.0

In [42]:
f=open("emp.txt","r")
data=f.read()
f.close()
print(data)
data_new = data.replace(",23,",",26,")
print(data_new)

jay,23,432543
vedha,24,5346
sai,23,456

jay,26,432543
vedha,24,5346
sai,26,456

In [43]:
f=open("emp.txt","r")
data=f.read()
f.close()
print(data)
data_new = data.replace(",23,",",26,")
print(data_new)
f=open("emp.txt","w")
f.write(data_new)
f.close()

jay,23,432543
vedha,24,5346
sai,23,456

jay,26,432543
vedha,24,5346
sai,26,456

In [44]:
f=open("bahubali2.mp4","r")
f.read()

FileNotFoundError: [Errno 2] No such file or directory: 'bahubali2.mp4'

In [47]:
f=open("exec.jpg","rb")
data=f.read()
f=open("bigfile.jpg","a")
for i in range(10):
    f.write(str(data))
    f.flush()
f.close()