In [1]:
def fun():
    print("this is fun")
class Emp:
    print("this is class")

this is class

In [2]:
class Emp:
    print("this is class")
    def fun(a):
        print("this is fun in class Emp")

this is class

In [3]:
class Emp:
    print("this is class")
    company_name="KHYAATHI"
    def fun(a):
        print("this is fun in class Emp")
    print(company_name)
    fun(20)

this is class
KHYAATHI
this is fun in class Emp

In [4]:
class Emp:
    print("this is class")
    company_name="KHYAATHI"
    def sal_cal(a):
        print("this is fun in class Emp")
print(company_name)
sal_cal(20)

this is class

NameError: name 'company_name' is not defined

In [5]:
class Emp:
    print("this is class")
    company_name="KHYAATHI" # attribute
    def sal_cal(a): # method or operation
        print("this is fun in class Emp")
print(Emp.company_name)
Emp.sal_cal(20)

this is class
KHYAATHI
this is fun in class Emp

In [6]:
class Emp:
    print("this is class")
    company_name="KHYAATHI" # attribute
    def sal_cal(a): # method or operation
        print("this is fun in class Emp")
print(Emp.company_name)
jay = Emp() # instance creation, jay is an instance, Emp() is data object, Emp is a class object
Emp.sal_cal(jay)

this is class
KHYAATHI
this is fun in class Emp

In [7]:
class Emp:
    print("this is class")
    company_name="KHYAATHI" # attribute
    def sal_cal(a): # method or operation
        print("this is fun in class Emp")
print(Emp.company_name)
jay = Emp() # instance creation, jay is an instance, Emp() is data object, Emp is a class object
vedha=Emp()
sai=Emp()
jay.name="Jayaram"
vedha.name="Vedhanvesh"
sai.name="Sailaxmi"
sai.sal=50000
jay.sal=40000
vedha.sal=30000
print(jay.name,jay.sal)

this is class
KHYAATHI
Jayaram 40000

In [8]:
class Emp:
    print("this is class")
    company_name="KHYAATHI" # attribute
    def sal_cal(a): # method or operation
        print("calculation sal of %s"%a.name)
        res=a.sal+a.sal*0.1
        print(res)
print(Emp.company_name)
jay = Emp() # instance creation, jay is an instance, Emp() is data object, Emp is a class object
vedha=Emp()
sai=Emp()
jay.name="Jayaram"
vedha.name="Vedhanvesh"
sai.name="Sailaxmi"
sai.sal=50000
jay.sal=40000
vedha.sal=30000
Emp.sal_cal(vedha)

this is class
KHYAATHI
calculation sal of Vedhanvesh
33000.0

In [10]:
class Emp:
    company_name="KHYAATHI" # attribute
    def sal_cal(a): # method or operation
        print("calculation sal of %s"%a.name)
        res=a.sal+a.sal*0.1
        print(res)
jay = Emp() # instance creation, jay is an instance, Emp() is data object, Emp is a reference class object
vedha=Emp()
sai=Emp()
jay.name="Jayaram"
vedha.name="Vedhanvesh"
sai.name="Sailaxmi"
sai.sal=50000
jay.sal=40000
vedha.sal=30000
Emp.sal_cal(vedha)
Emp.sal_cal(sai)
Emp.sal_cal(jay)

calculation sal of Vedhanvesh
33000.0
calculation sal of Sailaxmi
55000.0
calculation sal of Jayaram
44000.0

In [12]:
class Emp:
    company_name="KHYAATHI" # attribute
    def sal_cal(a): # method or operation
        print("calculation sal of %s"%a.name)
        res=a.sal+a.sal*0.1
        print(res)
jay = Emp() # instance creation, jay is an instance, Emp() is data object, Emp is a reference class object
vedha=Emp()
sai=Emp()
jay.name="Jayaram"
vedha.name="Vedhanvesh"
sai.name="Sailaxmi"
sai.sal=50000
jay.sal=40000
vedha.sal=30000
print(jay.company_name)
print(vedha.company_name)
print(sai.company_name)

KHYAATHI
KHYAATHI
KHYAATHI

In [13]:
class Emp:
    company_name="KHYAATHI" # attribute
    def sal_cal(a): # method or operation
        print("calculation sal of %s"%a.name)
        res=a.sal+a.sal*0.1
        print(res)
jay = Emp() # instance creation, jay is an instance, Emp() is data object, Emp is a reference class object
vedha=Emp()
sai=Emp()
jay.name="Jayaram"
vedha.name="Vedhanvesh"
sai.name="Sailaxmi"
sai.sal=50000
jay.sal=40000
vedha.sal=30000
print(jay.company_name)
print(vedha.company_name)
print(sai.company_name)
print(Emp.name)

KHYAATHI
KHYAATHI
KHYAATHI

AttributeError: type object 'Emp' has no attribute 'name'

In [14]:
class Emp:
    company_name="KHYAATHI" # attribute
    def sal_cal(a): # method or operation
        print("calculation sal of %s"%a.name)
        res=a.sal+a.sal*0.1
        print(res)
        
jay = Emp() # instance creation, jay is an instance, Emp() is data object, Emp is a reference class object
vedha=Emp()
sai=Emp()
jay.name="Jayaram"
vedha.name="Vedhanvesh"
sai.name="Sailaxmi"
sai.sal=50000
jay.sal=40000
vedha.sal=30000
jay.dept="HR"

print(jay.company_name)
print(vedha.company_name)
print(sai.company_name)
jay.sal_cal()

KHYAATHI
KHYAATHI
KHYAATHI
calculation sal of Jayaram
44000.0

In [16]:
class Emp:
    company_name="KHYAATHI" # attribute
    def sal_cal(a): # method or operation
        print("calculation sal of %s"%a.name)
        res=a.sal+a.sal*0.1
        print(res)
        
jay = Emp() # instance creation, jay is an instance, Emp() is data object, Emp is a reference class object
vedha=Emp()
sai=Emp()
jay.name="Jayaram"
vedha.name="Vedhanvesh"
sai.name="Sailaxmi"
sai.sal=50000
jay.sal=40000
vedha.sal=30000
jay.dept="HR"

jay.sal_cal()
vedha.sal_cal()
sai.sal_cal()

calculation sal of Jayaram
44000.0
calculation sal of Vedhanvesh
33000.0
calculation sal of Sailaxmi
55000.0

In [18]:
class Emp:
    company_name="KHYAATHI" # attribute
    def sal_cal(a): # method or operation
        print("calculation sal of %s"%a.name)
        res=a.sal+a.sal*0.1
        print(res)
        
jay = Emp() # instance creation, jay is an instance, Emp() is data object, Emp is a reference class object
vedha=Emp()
sai=Emp()
jay.name="Jayaram"
vedha.name="Vedhanvesh"
sai.name="Sailaxmi"
sai.sal=50000
jay.sal=40000
vedha.sal=30000
jay.dept="HR"
Emp.sal_cal(vedha)
#jay.sal_cal()
#vedha.sal_cal()
#sai.sal_cal()

calculation sal of Vedhanvesh
33000.0

In [19]:
class Emp:
    company_name="KHYAATHI" # attribute
    def sal_cal(a): # method or operation
        print("calculation sal of %s"%a.name)
        res=a.sal+a.sal*0.1
        print(res)
        
jay = Emp() # instance creation, jay is an instance, Emp() is data object, Emp is a reference class object
vedha=Emp()
sai=Emp()
jay.name="Jayaram"
vedha.name="Vedhanvesh"
sai.name="Sailaxmi"
sai.sal=50000
jay.sal=40000
vedha.sal=30000
jay.dept="HR"
vedha.sal_cal()
#Emp.sal_cal(vedha)
#jay.sal_cal()
#vedha.sal_cal()
#sai.sal_cal()

calculation sal of Vedhanvesh
33000.0

In [20]:
class Emp:
    company_name="KHYAATHI" # attribute
    def sal_cal(a): # method or operation
        print("calculation sal of %s"%a.name)
        res=a.sal+a.sal*0.1
        print(res)
        
jay = Emp() # instance creation, jay is an instance, Emp() is data object, Emp is a reference class object
vedha=Emp()
sai=Emp()
jay.name="Jayaram"
vedha.name="Vedhanvesh"
sai.name="Sailaxmi"
sai.sal=50000
jay.sal=40000
vedha.sal=30000
jay.dept="HR"
vedha.sal_cal()
jay.sal_cal()
sai.sal_cal()

calculation sal of Vedhanvesh
33000.0
calculation sal of Jayaram
44000.0
calculation sal of Sailaxmi
55000.0

In [22]:
class Emp:
    company_name="KHYAATHI" # attribute
    def sal_cal(self): # method or operation
        print("calculation sal of %s"%self.name)
        res=self.sal+self.sal*0.1
        print(res)
        
jay = Emp() # instance creation, jay is an instance, Emp() is data object, Emp is a reference class object
vedha=Emp()
sai=Emp()
jay.name="Jayaram"
vedha.name="Vedhanvesh"
sai.name="Sailaxmi"
sai.sal=50000
jay.sal=40000
vedha.sal=30000
jay.dept="HR"
vedha.sal_cal()
# Emp.sal_cal(vedha)
jay.sal_cal()
#Emp.sal_cal(jay)
sai.sal_cal()
#Emp.sal_cal(sai)

calculation sal of Vedhanvesh
33000.0
calculation sal of Jayaram
44000.0
calculation sal of Sailaxmi
55000.0

In [23]:
class Emp:
    company_name="KHYAATHI" # attribute
    def set_data(self, e_name, e_sal):
        self.name=e_name
        self.sal=e_sal
    def sal_cal(self): # method or operation
        print("calculation sal of %s"%self.name)
        res=self.sal+self.sal*0.1
        print(res)
        
jay = Emp() # instance creation, jay is an instance, Emp() is data object, Emp is a reference class object
vedha=Emp()
sai=Emp()
#jay.name="Jayaram"
#jay.sal=40000
jay.set_data("Jayaram", 40000)
#Emp.set_data(jay,"Jayaram", 40000)
#vedha.name="Vedhanvesh"
#vedha.sal=30000
vedha.set_data("Vedhanvesh",30000)
#sai.name="Sailaxmi"
#sai.sal=50000
sai.set_data("Sail laxmi",50000)
vedha.sal_cal()
jay.sal_cal()
sai.sal_cal()

calculation sal of Vedhanvesh
33000.0
calculation sal of Jayaram
44000.0
calculation sal of Sail laxmi
55000.0

In [24]:
class Emp:
    company_name="KHYAATHI" # attribute
    def set_data(self, e_name, e_sal):
        self.name=e_name
        self.sal=e_sal
    def sal_cal(self): # method or operation
        print("calculation sal of %s"%self.name)
        res=self.sal+self.sal*0.1
        print(res)
        
jay = Emp() # instance creation, jay is an instance, Emp() is data object, Emp is a reference class object
vedha=Emp()
sai=Emp()
jay.set_data("Jayaram", 40000)
vedha.set_data("Vedhanvesh",30000)
sai.set_data("Sail laxmi",50000)
vedha.sal_cal()
jay.sal_cal()
sai.sal_cal()

calculation sal of Vedhanvesh
33000.0
calculation sal of Jayaram
44000.0
calculation sal of Sail laxmi
55000.0

In [25]:
class Emp:
    company_name="KHYAATHI" # attribute
    def set_data(self, e_name, e_sal):
        self.name=e_name
        self.sal=e_sal
    def sal_cal(self): # method or operation
        print("calculation sal of %s"%self.name)
        res=self.sal+self.sal*0.1
        print(res)
    def get(self):
        return self.name, self.sal,self.company_name
        
jay = Emp() # instance creation, jay is an instance, Emp() is data object, Emp is a reference class object
vedha=Emp()
sai=Emp()
jay.set_data("Jayaram", 40000)
vedha.set_data("Vedhanvesh",30000)
sai.set_data("Sail laxmi",50000)
print(jay.get())
print(vedha.get())
print(sai.get())

('Jayaram', 40000, 'KHYAATHI')
('Vedhanvesh', 30000, 'KHYAATHI')
('Sail laxmi', 50000, 'KHYAATHI')

In [27]:
class Product:
    def set_data(self,p_name,p_cost):
        self.name=p_name
        self.cost=p_cost
    def get(self):
        return self.name,self.cost
apple=Product()
apple.set_data("Apple",20)
orange=Product()
orange.set_data("Orange",30)
print(apple.get()) # Apple, 20
print(orange.get()) # Orange, 30

('Apple', 20)
('Orange', 30)

In [28]:
class Product:
    def set_data(self,p_name,p_cost):
        self.name=p_name
        self.cost=p_cost
    def get(self):
        return self.name,self.cost
apple=Product()
apple.set_data("Apple",20)
orange=Product()
orange.set_data("Orange",30)
print(apple.get()) # Apple, 20
print(orange.get()) # Orange, 30
mango=Product()
print(mango.get())

('Apple', 20)
('Orange', 30)

AttributeError: 'Product' object has no attribute 'name'

In [29]:
class C1:
    def get(self):
        print("this is get")

In [30]:
class C1:
    def get(self):
        print("this is get")
    def __init__(self):
        print("this is init")

In [31]:
class C1:
    def get(self):
        print("this is get")
o1=C1()

In [32]:
class C1:
    print("this is class")
    def get(self):
        print("this is get")
    def __init__(self):
        print("this is init")

this is class

In [33]:
class C1:
    print("this is class")
    def get(self):
        print("this is get")
    def __init__(self):
        print("this is init")   
o1=C1()
o2=C1()

this is class
this is init
this is init

In [35]:
class C1:
    print("this is class")
    def get(self):
        print("this is get")
    def __init__(self):
        print("this is init")   
o1=C1()
o2=C1()
o3=C1()

this is class
this is init
this is init
this is init

In [36]:
class C1:
    print("this is class")
    def get(self):
        print("this is get")
    def __init__(self):
        print("this is init")
o1=C1()
o2=C1()
o3=C1()
o4=C1()

this is class
this is init
this is init
this is init
this is init

In [38]:
class C1:
    print("this is class")
    def get(self):
        print("this is get")
    def __init__(self):
        print("this is init")
o1=C1()
o2=C1()
o3=C1()
o4=C1()
o1.get()

this is class
this is init
this is init
this is init
this is init
this is get

In [39]:
class C1:
    print("this is class")
    def __get__(self):
        print("this is get")
    def __init__(self):
        print("this is init")
o1=C1()
o2=C1()
o3=C1()
o4=C1()
o1.__get__()

this is class
this is init
this is init
this is init
this is init
this is get

In [40]:
class C1:
    print("this is class")
    def __get__(self):
        print("this is get")
    def __init__(self):
        print("this is init")
o1=C1()
o2=C1()
o3=C1()
o4=C1()

this is class
this is init
this is init
this is init
this is init

In [41]:
class C1:
    print("this is class")
    def __get__(self):
        print("this is get")
    def __init__(self):
        print("this is init")
o1=C1()
o2=C1()
o3=C1()
o4=C1()
o1.__init__()

this is class
this is init
this is init
this is init
this is init
this is init

In [42]:
class Product:
    def __init__(self,p_name,p_cost):
        self.name=p_name
        self.cost=p_cost
    def get(self):
        return self.name,self.cost
apple=Product("Apple",20)
orange=Product("Orange",30)
print(apple.get()) 
print(orange.get())

('Apple', 20)
('Orange', 30)

In [43]:
class Product:
    def __init__(self,p_name,p_cost):
        self.name=p_name
        self.cost=p_cost
    def get(self):
        return self.name,self.cost
apple=Product("Apple",20)
orange=Product("Orange",30)
print(apple.get()) 
print(orange.get())
mango=Product()

('Apple', 20)
('Orange', 30)

TypeError: __init__() missing 2 required positional arguments: 'p_name' and 'p_cost'

In [45]:
# ware house class: company name as class object attribute. name, dimentions as data object attributes. 
#write two operationss instock and outstock. 
# create two dataobjects, hyderbad and banglore. call instock and outstock operations for hyd and ban instances.
class Warehose:
    company_name="Khyaathi"
    def __init__(self,w_name,w_dimentions):
        self.name=w_name
        self.dimentions=w_dimentions
    def get(self):
        return self.name, self.dimentions
    def instock(self):
        print("this is instock")
    def outstock(self):
        print("this is outstock")
hyd=Warehose("Hyderabad","2000,4000")
ban=Warehose("Banglore","1000,3000")
print(hyd.get())
print(ban.get())

('Hyderabad', '2000,4000')
('Banglore', '1000,3000')

In [46]:
# ware house class: company name as class object attribute. name, dimentions as data object attributes. 
#write two operationss instock and outstock. 
# create two dataobjects, hyderbad and banglore. call instock and outstock operations for hyd and ban instances.
class Warehose:
    company_name="Khyaathi"
    def __init__(self,w_name,w_dimentions):
        self.name=w_name
        self.dimentions=w_dimentions
    def get(self):
        return self.name, self.dimentions
    def instock(self):
        print("this is instock")
    def outstock(self):
        print("this is outstock")
hyd=Warehose("Hyderabad","2000,4000")
ban=Warehose("Banglore","1000,3000")
print(hyd.get())
print(ban.get())
ban.instock()
hyd.instock()
ban.outstock()
hyd.instock()

('Hyderabad', '2000,4000')
('Banglore', '1000,3000')
this is instock
this is instock
this is outstock
this is instock

In [48]:
# ware house class: company name as class object attribute. name, dimentions as data object attributes. 
#write two operationss instock and outstock. 
# create two dataobjects, hyderbad and banglore. call instock and outstock operations for hyd and ban instances.
class Warehose:
    company_name="Khyaathi"
    def __init__(self,name,dimentions):
        self.name=name
        self.dimentions=dimentions
    def get(self):
        return self.name, self.dimentions
    def instock(self):
        print("this is instock happening in:%s"%self.name)
    def outstock(self):
        print("this is outstock happening in:%s"%self.name)
hyd=Warehose("Hyderabad","2000,4000")
ban=Warehose("Banglore","1000,3000")
print(hyd.get())
print(ban.get())
ban.instock()
hyd.instock()
ban.outstock()
hyd.instock()

('Hyderabad', '2000,4000')
('Banglore', '1000,3000')
this is instock happening in:Banglore
this is instock happening in:Hyderabad
this is outstock happening in:Banglore
this is instock happening in:Hyderabad

In [49]:
#sambaodoo@gmail.com, sambapython@gmail.com