In [3]:
print("st1")
print("st2")
print("st3")
print("st4")
print("st5")
print("st6")

st1
st2
st3
st4
st5
st6

In [5]:
i=1
while i<7:
    print("st%s"%i)
    i=i+1

st1
st2
st3
st4
st5
st6

In [6]:
i=1
while i<10:
    print("st%s"%i)
    i=i+1

st1
st2
st3
st4
st5
st6
st7
st8
st9

In [7]:
print ("program started")
i=0
if i<3:
    print (i)
    i=i+1
print("program ended")

program started
0
program ended

In [8]:
print ("program started")
i=0
while i<3:
    print (i)
    i=i+1
print("program ended")

program started
0
1
2
program ended

In [9]:
print ("program started")
i=10
while i<3:
    print (i)
    i=i+1
print("program ended")

program started
program ended

In [ ]:
print ("program started")
i=0
while i<3:
    print (i)
    i=i-1
print("program ended")

In [ ]:
print ("program started")
i=0
while i<3:
    print (i)
print("program ended")

In [1]:
range(10)

range(0, 10)

In [2]:
print ("program started")
i=0
while i<10:
    print (i)
    i=i+1
print("program ended")

program started
0
1
2
3
4
5
6
7
8
9
program ended

In [3]:
print ("program started")
s="python"
i=0
while i<len(s):
    print (s[i])
    i=i+1
print("program ended")

program started
p
y
t
h
o
n
program ended

In [4]:
print ("program started")
s="python"
for i in s:
    print(i)
print("program ended")

program started
p
y
t
h
o
n
program ended

In [5]:
employees=["sai","janardhan","tamil","tony","kailas"]
for emp in employees:
    print(emp)

sai
janardhan
tamil
tony
kailas

In [6]:
employees=["sai","janardhan","tamil","tony","kailas"]
i=0
while i<len(employees):
    print(employees[i])
    i=i+1

sai
janardhan
tamil
tony
kailas

In [7]:
employees=("sai","janardhan","tamil","tony","kailas")
for emp in employees:
    print(emp)

sai
janardhan
tamil
tony
kailas

In [8]:
employees={"sai","janardhan","tamil","tony","kailas"}
for emp in employees:
    print(emp)

janardhan
sai
kailas
tamil
tony

In [9]:
employees={"name":"jay","age":1.9,"weight":12.6}
for emp in employees:
    print(emp)

name
age
weight

In [10]:
 for i in "100":
        print (i)

1
0
0

In [11]:
 for i in 1000:
        print (i)

TypeError: 'int' object is not iterable

In [12]:
 for i in 1+2j:
        print (i)

TypeError: 'complex' object is not iterable

In [13]:
 for i in True:
        print (i)

TypeError: 'bool' object is not iterable

In [14]:
 for i in None:
        print (i)

TypeError: 'NoneType' object is not iterable

In [15]:
l=[10,20,30,40,50,60]
for i in l:
    print(i)

10
20
30
40
50
60

In [16]:
employees={"sai","janardhan","tamil","tony","kailas"}
employees[0]

TypeError: 'set' object does not support indexing

In [17]:
employees=["sai","janardhan","tamil","tony","kailas"]
employees[0]

'sai'

In [19]:
l=[10,23,45,68,78,90]
a=10
if a%2==0:
    print ("even")
else:
    print ("odd")

even

In [20]:
l=[10,23,45,68,78,90]
for i in l:
    print(i)

10
23
45
68
78
90

In [21]:
l=[10,23,45,68,78,90]
for i in l:
    if i%2==0:
        print(i)

10
68
78
90

In [22]:
l=[10,23,45,68,78,90]
set(l)

{10, 23, 45, 68, 78, 90}

In [23]:
l={10,23,45,68,78,90}
for i in l:
    if i%2==0:
        print(i)

68
10
78
90

In [24]:
l={10,23,45,68,78,90,10,60,68,78,90}
for i in l:
    if i%2==0:
        print(i)

68
10
78
90
60

In [25]:
l=[10,23,45,68,78,90,10,60,68,78,90]
for i in l:
    if i%2==0:
        print(i)

10
68
78
90
10
60
68
78
90

In [26]:
l={10,23,45,68,78,90,10,60,68,78,90}
l

{10, 23, 45, 60, 68, 78, 90}

In [27]:
l=[]
for i in l:
        print(i)

In [28]:
print("programstratyed")
l=[]
for i in l:
        print(i)
print("program ended")

programstratyed
program ended