# Welcome to Jupyter!

This repo contains an introduction to [Jupyter](https://jupyter.org) and [IPython](https://ipython.org).

Outline of some basics:

* [Notebook Basics](../examples/Notebook/Notebook%20Basics.ipynb)
* [IPython - beyond plain python](../examples/IPython%20Kernel/Beyond%20Plain%20Python.ipynb)
* [Markdown Cells](../examples/Notebook/Working%20With%20Markdown%20Cells.ipynb)
* [Rich Display System](../examples/IPython%20Kernel/Rich%20Output.ipynb)
* [Custom Display logic](../examples/IPython%20Kernel/Custom%20Display%20Logic.ipynb)
* [Running a Secure Public Notebook Server](../examples/Notebook/Running%20the%20Notebook%20Server.ipynb#Securing-the-notebook-server)
* [How Jupyter works](../examples/Notebook/Multiple%20Languages%2C%20Frontends.ipynb) to run code in different languages.

You can also get this tutorial and run it on your laptop:

    git clone https://github.com/ipython/ipython-in-depth

Install IPython and Jupyter:

with [conda](https://www.anaconda.com/download):

    conda install ipython jupyter

with pip:

    # first, always upgrade pip!
    pip install --upgrade pip
    pip install --upgrade ipython jupyter

Start the notebook in the tutorial directory:

    cd ipython-in-depth
    jupyter notebook

In [1]:
cost=12.34

In [2]:
COst=12.34

In [3]:
product cost=12.34

SyntaxError: invalid syntax (<ipython-input-3-5da14725c247>, line 1)

In [4]:
product_cost=12.34

In [5]:
product$cost=12.34

SyntaxError: invalid syntax (<ipython-input-5-59eb4c2a1c6c>, line 1)

In [6]:
product^cost=12.34

SyntaxError: can't assign to operator (<ipython-input-6-d459c8693a00>, line 1)

In [7]:
PER_PAGE_RECORDS=10

In [8]:
product_cost2=12.34

In [9]:
2product_cost=12.34

SyntaxError: invalid syntax (<ipython-input-9-c0d2d4d9a4b9>, line 1)

In [10]:
__product_cost__=12.34

In [11]:
a=1000
b=2000

In [12]:
# binary, octal, decimal, hexa
a=1000
print(a)

1000

In [13]:
a=0b1000
print(a)

8

In [14]:
a=0o1000
print(a)

512

In [15]:
a=0x1000
print(a)

4096

In [16]:
a=4096
print (hex(a))
print (oct(a))
print(bin(a))

0x1000
0o10000
0b1000000000000

In [17]:
cell=9676622023
print(hex(cell))

0x240c588c7

In [18]:
a=1000
b=0xa
print(b)

10

In [19]:
a=1000
b=0xa
print(b+a)

1010

In [20]:
a=12.34
b=200
print (a+b)

212.34

In [21]:
a="12"
b="23"
print (a+b)

1223

In [22]:
a="cost"
b="23"
print (a+b)

cost23

In [23]:
a=34
b="23"
print (a+b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [24]:
a=34
b="23"
print (a+int(b))

57

In [25]:
b="23"
c=int(b)
print (c, type(c))
print(b, type(b))

23 <class 'int'>
23 <class 'str'>

In [26]:
a=34
b="23"
print (str(a)+b)

3423

In [27]:
a=10
b=1+2j
print(a+b)

(11+2j)

In [28]:
a=10
b=1+2j
print(a>b)

TypeError: '>' not supported between instances of 'int' and 'complex'

In [29]:
a=1+2j
b=2+3j
print (a*b)

(-4+7j)

In [30]:
a=1+2j
b=2+3j
print (a>b)

TypeError: '>' not supported between instances of 'complex' and 'complex'

In [31]:
a="3"
b="234567"
print(a>b)

True

In [32]:
# "bat","cat","apple","ant"
#ant, apple, bat ,cat
# 4, 2, 6, 1: 1,2,4,5

In [33]:
"apple"<"bat"

True

In [34]:
a="3"
b="234567"
# "234567","3"

In [35]:
a=100
b="app"
a>b

TypeError: '>' not supported between instances of 'int' and 'str'

In [37]:
c="2346"
print (int(c))

2346

In [38]:
c="2346a"
print (int(c))

ValueError: invalid literal for int() with base 10: '2346a'

In [39]:
c="23b46a"
print (int(c,16))

2339946

In [40]:
s="23423"
print (int(s))

23423

In [41]:
s="23423"
print (int(s,11))

33784

In [42]:
s=12.34
print (int(s))

12

In [43]:
s="12.34"
print (int(s))

ValueError: invalid literal for int() with base 10: '12.34'

In [44]:
s="12.34"
print (float(s))

12.34

In [45]:
s="12.3.4"
print (float(s))

ValueError: could not convert string to float: '12.3.4'

In [46]:
# expression evaluation.
c=12+3*6
print(c)

30

In [49]:
a=1200/20*5
print (a)

300.0

In [50]:
a=1200/(20*5)
print (a)

12.0

In [51]:
print(20>10>2)

True

In [52]:
print(20<10<2)

False

In [53]:
print(20<10<0)

False

In [55]:
20 < False

False

In [56]:
a=False
type(a)

bool

In [57]:
False<2

True

In [58]:
True<0

False

In [59]:
True>0

True

In [62]:
print(20>10<2)

False

In [63]:
a=100
b=200
c=300
a>b and b>c

False

In [64]:
# and or xor
"""
t xor f=t
f xor t=t
t xor t=f
f xor f=f
"""
print(True!=True)
print(False!=False)
print(True!=False)
print (False!=True)

False
False
True
True

In [65]:
# bitwise and , bitwise or , bitwise xor, leftshift, right shift
#&, |, ^, 
a=100
b=200
print (a &b)
print(a|b)
print(a^b)
print(a>>2)
print(a<<2)

64
236
172
25
400

In [66]:
a=input("Enter a value:")
b=input("Enter b value:")
print(a,b)

Enter a value:10
Enter b value:20
10 20

In [67]:
a=input("Enter a value:")

print (a, type(a))

Enter a value:python
python <class 'str'>

In [68]:
a=input("Enter a value:")

print (a, type(a))

Enter a value:10
10 <class 'str'>

In [69]:
a=input("Enter a value:")

print (a, type(a))

Enter a value:10.23
10.23 <class 'str'>

In [70]:
a="10"

In [71]:
a="12.34"

In [1]:
print("hello")

hello

In [2]:
name="Jayaram"
weight=12.4567
height=3.658
# The person details Name:Jayaram, Weight: 12.46 KG, Height: 3.658
print ("The person details Name:Jayaram, Weight: 12.46 KG, Height: 3.658")

The person details Name:Jayaram, Weight: 12.46 KG, Height: 3.658

In [3]:
name="Jayaram"
weight=12.4567
height=3.658
# The person details Name:Jayaram, Weight: 12.46 KG, Height: 3.658
print("The person details Name:name")

The person details Name:name

In [4]:
name="Jayaram"
weight=12.4567
height=3.658
# The person details Name:Jayaram, Weight: 12.46 KG, Height: 3.658
print("The person details Name:"name)

SyntaxError: invalid syntax (<ipython-input-4-6d0bfad96ae9>, line 5)

In [5]:
name="Jayaram"
weight=12.4567
height=3.658
# The person details Name:Jayaram, Weight:12.46 KG, Height:3.658
print("The person details Name:",name)

The person details Name: Jayaram

In [6]:
name="Jayaram"
weight=12.4567
height=3.658
# The person details Name:Jayaram, Weight:12.46 KG, Height:3.658
print("The person details Name:"+name)

The person details Name:Jayaram

In [7]:
name="Jayaram"
weight=12.4567
height=3.658
# The person details Name:Jayaram, Weight:12.46 KG, Height:3.658
print("The person details Name:"+name,", Weight:")

The person details Name:Jayaram , Weight:

In [8]:
name="Jayaram"
weight=12.4567
height=3.658
# The person details Name:Jayaram, Weight:12.46 KG, Height:3.658 ft
print("The person details Name:"+name,", Weight:",weight)

The person details Name:Jayaram , Weight: 12.4567

In [9]:
name="Jayaram"
weight=12.4567
height=3.658
# The person details Name:Jayaram, Weight:12.46 KG, Height:3.658 ft
print("The person details Name:"+name+", Weight:",weight)

The person details Name:Jayaram, Weight: 12.4567

In [10]:
name="Jayaram"
weight=12.4567
height=3.658
# The person details Name:Jayaram, Weight:12.46 KG, Height:3.658 ft
print("The person details Name:"+name+", Weight:"+weight)

TypeError: can only concatenate str (not "float") to str

In [11]:
name="Jayaram"
weight=12.4567
height=3.658
# The person details Name:Jayaram, Weight:12.46 KG, Height:3.658 ft
print("The person details Name:"+name+", Weight:"+str(weight))

The person details Name:Jayaram, Weight:12.4567

In [12]:
name="Jayaram"
weight=12.4567
height=3.658
# The person details Name:Jayaram, Weight:12.46 KG, Height:3.658 ft
print("The person details Name:"+name+", Weight:"+str(weight),"KG")

The person details Name:Jayaram, Weight:12.4567 KG

In [13]:
name="Jayaram"
weight=12.4567
height=3.658
# The person details Name:Jayaram, Weight:12.46 KG, Height:3.658 ft
print("The person details Name:"+name+", Weight:"+str(weight),"KG,","Height:")

The person details Name:Jayaram, Weight:12.4567 KG, Height:

In [14]:
name="Jayaram"
weight=12.4567
height=3.658
# The person details Name:Jayaram, Weight:12.46 KG, Height:3.658 ft
print("The person details Name:"+name+", Weight:"+str(weight),"KG,","Height:",height)

The person details Name:Jayaram, Weight:12.4567 KG, Height: 3.658

In [15]:
name="Jayaram"
weight=12.4567
height=3.658
# The person details Name:Jayaram, Weight:12.46 KG, Height:3.658 ft
print("The person details Name:"+name+", Weight:"+str(weight),"KG,","Height:",height,"ft")

The person details Name:Jayaram, Weight:12.4567 KG, Height: 3.658 ft

In [17]:
round(weight,2)

12.46

In [18]:
name="Jayaram"
weight=12.4567
height=3.658
# The person details Name:Jayaram, Weight:12.46 KG, Height:3.658 ft
print("The person details Name:"+name+", Weight:"+str(round(weight,2)),"KG,","Height:",height,"ft")

The person details Name:Jayaram, Weight:12.46 KG, Height: 3.658 ft

In [19]:
# special symbols, you should some normal symbols to special symbols.
print ("very cool in hyd today")
print ("its raining in west godhanvari")

very cool in hyd today
its raining in west godhanvari

In [20]:
# special symbols, you should some normal symbols to special symbols.
print ("very cool in hyd today\nits raining in west godhanvari")

very cool in hyd today
its raining in west godhanvari

In [22]:
# special symbols, you should some normal symbols to special symbols.
print ("very cool in hyd today.\tits raining in west godhanvari")

very cool in hyd today.	its raining in west godhanvari

In [24]:
# special symbols, you should some normal symbols to special symbols.
print ("very cool in hyd today")print ("its raining in west godhanvari")

SyntaxError: invalid syntax (<ipython-input-24-3df3702a3d76>, line 2)

In [25]:
# special symbols, you should some normal symbols to special symbols.
print ("very cool in hyd today");print ("its raining in west godhanvari")

very cool in hyd today
its raining in west godhanvari

In [26]:
print("special symbols, you should some normal symbols to special symbols.")

special symbols, you should some normal symbols to special symbols.

In [27]:
print("special symbols, you should some normal 
      symbols to special symbols.")

SyntaxError: EOL while scanning string literal (<ipython-input-27-3ddea7ea08d7>, line 1)

In [29]:
print("special symbols, you should some normal\
symbols to special symbols.")

special symbols, you should some normalsymbols to special symbols.

In [30]:
print("\n")

In [31]:
print("\\n")

\n

In [32]:
s="python"
len(s)

6

In [33]:
s="\npython\n\n"
len(s)

9

In [35]:
s="\npython\n\n"
len(s)
print (s)

python

In [36]:
s="\\npython\\n\\n"
len(s)
print (s)

\npython\n\n

In [37]:
s=r"\npython\n\n"
len(s)
print (s)

\npython\n\n

In [38]:

print ("very cool in hyd today\nits raining in west godhanvari")

very cool in hyd today
its raining in west godhanvari

In [39]:

print ('very cool in hyd today\nits raining in west godhanvari')

very cool in hyd today
its raining in west godhanvari

In [40]:

print (r'very cool in hyd today\nits raining in west godhanvari')

very cool in hyd today\nits raining in west godhanvari

In [41]:

print ('very cool in "hyd" today\nits raining in west godhanvari')

very cool in "hyd" today
its raining in west godhanvari

In [42]:

print ('very cool in "hyd" today\nit's raining in west godhanvari')

SyntaxError: invalid syntax (<ipython-input-42-76f82922352d>, line 2)

In [43]:

print ('very cool in "hyd" today\nit\'s raining in west godhanvari')

very cool in "hyd" today
it's raining in west godhanvari

In [44]:

print ("very cool in "hyd" today\nit's raining in west godhanvari")

SyntaxError: invalid syntax (<ipython-input-44-ac9da43510a2>, line 2)

In [45]:

print ("very cool in \"hyd\" today\nit's raining in west godhanvari")

very cool in "hyd" today
it's raining in west godhanvari

In [46]:
print("%s,%d,%r,%f,%o,%x,%X")

%s,%d,%r,%f,%o,%x,%X

In [47]:
print("%f",23)

%f 23

In [48]:
print("%f"%23)

23.000000

In [49]:
print("%d"%23.3456)

23

In [50]:
print("%o"%234)

352

In [51]:
print("%x"%234)

ea

In [52]:
a=234
print("Hexa decimal vaue:"+hex(a))

Hexa decimal vaue:0xea

In [53]:
a=234
print("Hexa decimal vaue:%s"%a)

Hexa decimal vaue:234

In [54]:
a=234
print("Hexa decimal vaue:%x"%a)

Hexa decimal vaue:ea

In [55]:
cost=23.4567
# cost price of the product:23.46
print("cost price of the product:",cost)

cost price of the product: 23.4567

In [56]:
cost=23.4567
# cost price of the product:23.46
print("cost price of the product:",round(cost,2))

cost price of the product: 23.46

In [57]:
cost=23.4567
# cost price of the product:23.46
print("cost price of the product:"+round(cost,2))

TypeError: can only concatenate str (not "float") to str

In [58]:
cost=23.4567
# cost price of the product:23.46
print("cost price of the product:"+str(round(cost,2)))

cost price of the product:23.46

In [59]:
cost=23.4567
# cost price of the product:23.46
print("cost price of the product:%f"%cost)

cost price of the product:23.456700

In [60]:
cost=23.4567
# cost price of the product:23.46
print("cost price of the product:%.2f"%cost)

cost price of the product:23.46

In [61]:
name="Jayaram"
weight=12.4567
height=3.658
# The person details Name:Jayaram, Weight:12.46 KG, Height:3.658 ft
print("The person details Name:%s"%name)
#print("The person details Name:"+name+", Weight:"+str(round(weight,2)),"KG,","Height:",height,"ft")

The person details Name:Jayaram

In [62]:
name="Jayaram"
weight=12.4567
height=3.658
# The person details Name:Jayaram, Weight:12.46 KG, Height:3.658 ft
print("The person details Name:%s, Weight:"%name)

The person details Name:Jayaram, Weight:

In [64]:
name="Jayaram"
weight=12.4567
height=3.658
# The person details Name:Jayaram, Weight:12.46 KG, Height:3.658 ft
print("The person details Name:%s, Weight:%s"%(name,weight))

The person details Name:Jayaram, Weight:12.4567

In [65]:
name="Jayaram"
weight=12.4567
height=3.658
# The person details Name:Jayaram, Weight:12.46 KG, Height:3.658 ft
print("The person details Name:%s, Weight:%f"%(name,weight))

The person details Name:Jayaram, Weight:12.456700

In [66]:
name="Jayaram"
weight=12.4567
height=3.658
# The person details Name:Jayaram, Weight:12.46 KG, Height:3.658 ft
print("The person details Name:%s, Weight:%.2f"%(name,weight))

The person details Name:Jayaram, Weight:12.46

In [67]:
name="Jayaram"
weight=12.4567
height=3.658
# The person details Name:Jayaram, Weight:12.46 KG, Height:3.658 ft
print("The person details Name:%s, Weight:%.2f KG, Height:%s ft"%(name,weight,height))

The person details Name:Jayaram, Weight:12.46 KG, Height:3.658 ft

In [69]:
cost_price=12999.3456
name="REAL ME 2 pro"
weight="400"
dimensions="5''X4''"

'''
The realme mobile details: Name:REAL ME 2 pro
                             Weight:400 gm
                             dimensions: 5'' width, 4'' height
'''
print()

In [70]:
max([10,20,10.34])

20

In [71]:
min([10,20,10.34])

10

In [72]:
sum([10,20,10.34])

40.34

In [73]:
a=input("enter a number value:")
b=input("enter a number value:")
c=input("enter a number value:")
max([a,b,c])

enter a number value:2
enter a number value:1000
enter a number value:200

'200'

In [76]:
a=input("Enter:")

Enter:23

In [75]:
print("sdfsdf")

sdfsdf

In [77]:
a=100
b=200
print("b is big")

b is big

In [78]:
a=1000
b=200
print("b is big")

b is big

In [79]:
a=1000
b=200
print("a is big")
print("b is big")

a is big
b is big